<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-responsive.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='function.js') }}"></script>
    <title>MrLee Team</title>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Team MrLee</a>
                <ul class="nav pull-right">
                    <li><a href="http://buzzni.com/">남상협</a></li>
                    <li><a href="http://warning.or.kr/">이병윤</a></li>
                    <li><a href="http://warning.or.kr/">이은총</a></li>
                    <li><a href="http://lee.jaeyou.ng/">이재영</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="wrap">
        <div class="row-fluid">
            <div class="span2">
                <div class="row-fluid" style="padding-top:40px;">
                    <ul id="navbar2" class="nav nav-tabs nav-stacked" style="position:fixed; margin-top:25px;">
                        <li>
                            <a href="#s_text">
                                1. Text Inspect
                            </a>
                        </li>
                        <li>
                            <a href="#s_qna">
                                2. Text QNA
                            </a>
                        </li>
                        <li>
                            <a href="#s_image">
                                3. Image Processing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span10" class="contents">
                <section id="s_text" class="itembox">
                    <div class="page-header">
                        <h1>1.Text Inspect</h1>
                    </div>
                     <form action="/process" method="post" enctype="multipart/form-data" id="form_text">
                         <textarea name="contents" id="contentsbox" class="input-block-level" rows="2" style="resize: none;" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                         <input type="hidden" name="action" value="text">
                     </form>
                    <div class="form-actions">
                        <button onClick="doProcess('text');" type="submit" class="btn btn-primary">Process</button>
                    </div>
                    <div id="result_text" class="resultbox">

                    </div>
                </section>
                <section id="s_qna" class="itembox">
                    <div class="page-header">
                        <h1>2.Text QNA</h1>
                    </div>
                    <form action="/process" method="post" id="form_qna">
                        <textarea name="contents" id="qnabox" class="input-block-level" rows="2" style="resize: none;" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                        <input type="hidden" name="action" value="qna"/>
                    </form>
                    <div class="form-actions">
                        <button onClick="doProcess('qna');" type="submit" class="btn btn-primary">Process</button>
                    </div>
                    <div id="result_qna" class="resultbox">

                    </div>
                </section>
                <section id="s_image" class="itembox">
                    <div class="page-header">
                        <h1>3.Image Processing</h1>
                    </div>
                    <form action="/process" method="post" enctype="multipart/form-data" id="form_image">
                        <input type="file" name="image">
                        <input type="hidden" name="action" value="image">
                    </form>
                    <div class="form-actions">
                            <button onClick="doProcess('image');" type="submit" class="btn btn-primary">Process</button>
                        </div>
                    <div id="result_image" class="resultbox">

                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>